/* $Id: vr_mail_templates.css,v 1 vasike Exp $ */

div.vr-mail-template-body-label label {
  display: block;
  font-weight: bold;
}
div.vr-mail-template-body-preview {
  margin-top: 2px;
  margin-bottom: 10px;
  margin-right: 29px;
  padding: .3em;
  border: 1px solid #999;
}